/* Reset default margin and padding for all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a consistent font family */
body {
  font-family: Arial, sans-serif;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Set image to not be scaled in some browsers */
img {
  max-width: 100%;
  display: block;
}

/* Remove underline from links */
a {
  text-decoration: none;
}

/* Set consistent font size for buttons */
button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

/* Remove text transform for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
}
